.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store

/docs/author/*
!/docs/author/黒田-彗莉
/docs/author/黒田-彗莉/index.html


/docs/en/author/*
!/docs/en/author/eri-kuroda
/docs/en/author/eri-kuroda/index.html

/docs/courses
/docs/publication_types

/docs/en/courses
/docs/en/post
/docs/en/publication_types

/config/_default/params.toml

