.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

/docs/author/*
!/docs/author/eri-kuroda
/docs/author/eri-kuroda/index.html

/docs/en/author/*
!/docs/en/author/eri-kuroda
/docs/en/author/eri-kuroda/index.html

/docs/courses
/docs/media
/docs/publication_types

/docs/en/courses
/docs/en/post
/docs/en/publication_types
