a {
  transition: color 0.0s ease;
}

a:hover {
  transition: color 0.0s ease;
  text-decoration: none;
}

.fa-file-pdf {
  color: rgb(177, 10, 15);
}

.fa-file {
  color: rgb(100, 149, 237);
}

.ai-cv {
  color: rgb(0, 128, 128);
}

.fa-quote-right {
  color: #333333;
}

.fa-external-link-alt {
  color: #333333;
}

.ai-google-scholar {
  color: rgb(50, 139, 250);
}

.fa-orcid {
  color: rgb(161, 205, 65);
}

.fa-github {
  color: rgb(20, 20, 20);
}

.fa-researchgate {
  color: rgb(0, 194, 176);
}

.fa-twitter-square {
  color: rgb(40, 156, 232);
}

.fa-facebook-square {
  color: rgb(55, 93, 169);
}

.fa-line {
  color: rgb(33, 179, 42);
}

.fa-get-pocket {
  color: rgb(236, 64, 89);
}

.fa-linkedin {
  color: rgb(15, 115, 174);
}

.fa-reddit {
  color: rgb(252, 61, 30);
}

.fa-pinterest {
  color: rgb(227, 0, 43);
}

.fa-tumblr-square {
  color: rgb(45, 74, 99);
}

.fa-hatena {
  &:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
    color: rgb(27, 164, 209);
  }
}

.fa-rss-square {
  color: rgb(246, 139, 30);
}

.fa-envelope {
  color: rgb(51, 51, 51);
}

.icon-feedly:hover, .icon-feedly-o:hover, .icon-feedly, .icon-feedly-o {
  color: rgb(137, 192, 78);
  font-size: 99% !important;
}

h4.card-title.exp-title.text-muted{
  color: #555555 !important;
}

.card h4 {
  font-size: 0.9rem;
  line-height: 1.0;
}

.card h4 a {
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.5;
  font-size: 0.7rem;
}

.card h4 a:hover {
  color: #f59869;
  border-bottom: none;
}

a:hover h4.card-title.exp-title.text-muted {
  color: #f59869 !important;
}

.card-subtitle a {
  color: #777777;
}

.course .card-subtitle a {
  border-bottom: none !important;
  
}

.card-subtitle a:hover {
  color: #f59869;
  border-bottom: none;
  text-decoration: none;
}

.card-text a {
  color: #f59869;
}

.card-text a:hover {
  color: #f59869;
  font-weight: bold;
}

.experience .card-text {
  color: rgb(47, 47, 47) !important;
  padding-left: 3.0rem;
  padding-top: 0.3rem;
  padding-bottom: 0;
}

.experience .card-body {
  padding: 1.0rem;
}

.dropdown-menu, .dropdown-item {
  background-color: white !important;
  //color: #f59869 !important;
  color: #333333 !important;
  font-weight: normal !important;
}

.dropdown-menu, .dropdown-item:hover {
  font-weight: normal !important;
  color: #f59869 !important;
}

.navbar .dropdown-item.active, .navbar .dropdown-item-active {
  font-weight: bold !important;
  color: #f59869 !important;
}

h3.article-title a {
  color: #333333;
}

h3.article-title a:hover{
  transition: color 0.0s ease;
}

.article-title a{
  transition: color 0.1s ease;
}

.navbar {
  background: #f59869;
  //background: #faf0e6;
}

.navbar-light {
  font-weight: bold;
  color: #fbfbfb !important;
}

.navbar-brand {
  font-weight: 500;
  color: #fbfbfb !important;
  &:hover {
    color: #333333 !important;
  }
}

.navbar-collapse {
  flex-basis: 120%;
  flex-grow: 0.5;
  align-items: center;
}

#navbar-main .main-menu-item ul li .nav-link:hover{
  color: #333333;
  //font-weight: bold !important;
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
  font-weight: normal !important;
  color: #333333 !important;
  i {
    color: #fbfbfb !important;
  }
}

.navbar .navbar-nav .nav-link.active {
  color: #fbfbfb !important;
}

.navbar .navbar-nav .nav-link.active:hover {
  color: #333333 !important;
}


button.navbar-toggler i, .navbar-light .navbar-nav .nav-link, #navbar-main .main-menu-item ul li .nav-link {
  // バーの字の色
  color: #fbfbfb;
  font-weight: 500 !important;
}

#navbar-main .main-menu-item {
  text-align: left !important;
  padding-left: 0;
}

.collapse:not(.show) {
  display: none;
}

h1 {
  font-weight: bold !important;
  color: #444444;
  text-decoration: none;
}

.btn:hover {
  color: #f59869 !important;
  font-weight: bold;
  background: #ffffff;
  text-decoration: none;
}

h3 {
  margin-top: 0rem;
  text-decoration: none;
}

.accordion_contents p{
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

.fa-arrow-circle-right {
  font-weight: bold;
  color: rgb(70, 70, 70);
  text-decoration: none;
}

#news p a {
  color: #f59869;
  font-family: Roboto;
}

.card {
  background-color: rgb(255, 255, 255);
}

///////////
.acd-check{
    display: none;
}
.acd-label{
    color: #333333;
    display: block;
    text-align: left;
    text-decoration: none;
    border-radius: 0px 20px 20px 20px;
}
.acd-content{
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .3s ease;
    visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content{
    height: 100%;
    opacity: 1;
    padding: 0 10px;
    transition: 1.0s ease;
    visibility: visible;
}

.acd-label h1:hover {
  color: #f59869;
  text-decoration: none;
  text-align: left;
}

.acd-content h3 {
  color: #444444;
  text-decoration: none;
  text-align: left;
}

.acd-content p {
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #444444;
  text-decoration: none;
  text-align: left;
}
//////

#links a:hover {
  text-decoration: underline !important;
}

#about a:hover {
  text-decoration: underline;
}

.fa-caret-square-right {
  font-weight: bold;
  color: rgb(155, 170, 190);
  //color: #f59869 !important;
  text-decoration: none;
}

.acd-content a:hover {
  text-decoration: underline;
}

.article-metadata {
  font-size: 16px;
  margin-bottom: 13px;
}

.portrait-title h2 {
  font-weight: 600;
  color: #333333;
}

.portrait-title h3 {
  color: rgba(0, 0, 0, 0.65);
}

.article-metadata {
  line-height: 2;
  font-size: 0.65rem;
}

#news a:hover {
  text-decoration: underline;
}

.page-footer {
  background: rgb(100, 100, 100);
}

.site-footer {
  color: white;
}

.page-footer a, .page-footer a:hover {
  color: white !important;
}
