.fa-file-pdf {
  color: rgb(177, 10, 15);
}

.dark .fa-file-pdf {
  color: #d55e00;
}

.fa-quote-right {
  color: #333333;
}

.dark .fa-quote-right {
  color: white;
}

.fa-external-link-alt {
  color: #333333;
}

.dark .fa-external-link-alt {
  color: white;
}

.ai-google-scholar {
  color: rgb(50, 139, 250);
}

.fa-orcid {
  color: rgb(161, 205, 65);
}

.fa-github {
  color: rgb(20, 20, 20);
}

.dark .fa-github {
  color: white;
}

.fa-researchgate {
  color: rgb(0, 194, 176);
}

.fa-twitter-square {
  color: rgb(40, 156, 232);
}

.dark .fa-twitter-square {
  color: white;
}

.fa-facebook-square {
  color: rgb(55, 93, 169);
}

.dark .fa-facebook-square {
  color: white;
}

.fa-line {
  color: rgb(33, 179, 42);
}

.dark .fa-line {
  color: white;
}

.fa-get-pocket {
  color: rgb(236, 64, 89);
}

.dark .fa-get-pocket {
  color: white;
}

.fa-linkedin {
  color: rgb(15, 115, 174);
}

.dark .fa-linkedin {
  color: white;
}

.fa-reddit {
  color: rgb(252, 61, 30);
}

.fa-pinterest {
  color: rgb(227, 0, 43);
}

.fa-tumblr-square {
  color: rgb(45, 74, 99);
}

.dark .fa-tumblr-square {
  color: white;
}

.fa-hatena {
  &:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
    color: rgb(27, 164, 209);
  }
}

.dark .fa-hatena {
  &:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
    color: white;
  }
}

.fa-rss-square {
  color: rgb(246, 139, 30);
}

.dark .fa-rss-square {
  color: white;
}

.fa-envelope {
  color: rgb(51, 51, 51);
}

.dark .fa-envelope {
  color: white;
}

.icon-feedly:hover, .icon-feedly-o:hover, .icon-feedly, .icon-feedly-o {
  color: rgb(137, 192, 78);
  font-size: 99% !important;
}

.dark .icon-feedly:hover, .dark .icon-feedly-o:hover, .dark .icon-feedly, .dark .icon-feedly-o {
  color: white;
  font-size: 99% !important;
}

body.dark {
  background: rgb(80, 80, 80);
  font-family: "Roboto" "Noto Sans JP";
}

.dark .home-section:nth-of-type(even) {
  background-color: rgb(80, 80, 80);
}

.dark .home-section:nth-of-type(odd) {
  background-color: rgb(70, 70, 70);
}

// a ha talks no tokoro
.dark a {
  color: white;
  text-decoration: none;
  transition: color 0.0s ease;
}

.dark h3.article-title a:hover {
  color: #8fbc8f;
  text-decoration: none;
  transition: color 0.2s ease;
}
//

.dark .card-simple {
  background: rgb(40, 40, 40);
}

.dark .summary-link {
  color: white !important;
}

.dark a.summary-link:hover {
  color: unset !important;
  text-decoration: none;
}

.dark .card-subtitle a:hover {
  color: #8fbc8f;
}

// shokureki
.card h4 a {
  color: rgba(0, 0, 0, 0.54);
}

.dark .card h4 a {
  color: rgb(230, 230, 230);
}

.card h4 a:hover {
  color: #8fbc8f;
  border-bottom: none;
}

.dark .card h4 a:hover {
  color: #8fbc8f;
  border-bottom: none;
}

//
// gyouseki

a:hover h4.card-title.exp-title.text-muted {
  color: #8fbc8f !important;
}

.card-subtitle a:hover {
  color: #8fbc8f;
}

.experience .card-text {
  color: rgb(47, 47, 47) !important;
}

.dark a:hover h4.card-title.exp-title.text-muted {
  color: #8fbc8f !important;
}

.dark .card-subtitle a:hover {
  color: #8fbc8f;
}

.dark .experience .card-text {
  color: white !important;
}

