
a {
  transition: color 0.0s ease;
}

a:hover {
  transition: color 0.0s ease;
  text-decoration: none;
}

.fa-file-pdf {
  color: rgb(177, 10, 15);
}

.fa-file {
  color: rgb(100, 149, 237);
}

.ai-cv {
  color: rgb(0, 128, 128);
}

.fa-quote-right {
  color: #333333;
}

.fa-external-link-alt {
  color: #333333;
}

.ai-google-scholar {
  color: rgb(50, 139, 250);
}

.fa-orcid {
  color: rgb(161, 205, 65);
}

.fa-github {
  color: rgb(20, 20, 20);
}

.fa-researchgate {
  color: rgb(0, 194, 176);
}

.fa-twitter-square {
  color: rgb(40, 156, 232);
}

.fa-facebook-square {
  color: rgb(55, 93, 169);
}

.fa-line {
  color: rgb(33, 179, 42);
}

.fa-get-pocket {
  color: rgb(236, 64, 89);
}

.fa-linkedin {
  color: rgb(15, 115, 174);
}

.fa-reddit {
  color: rgb(252, 61, 30);
}

.fa-pinterest {
  color: rgb(227, 0, 43);
}

.fa-tumblr-square {
  color: rgb(45, 74, 99);
}

.fa-hatena {
  &:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
    color: rgb(27, 164, 209);
  }
}

.fa-rss-square {
  color: rgb(246, 139, 30);
}

.fa-envelope {
  color: rgb(51, 51, 51);
}

.icon-feedly:hover, .icon-feedly-o:hover, .icon-feedly, .icon-feedly-o {
  color: rgb(137, 192, 78);
  font-size: 99% !important;
}

h4.card-title.exp-title.text-muted{
  color: #555555 !important;
}

.card h4 a {
  color: rgba(0, 0, 0, 0.54);
}

.card h4 a:hover {
  color: #8fbc8f;
  border-bottom: none;
}

a:hover h4.card-title.exp-title.text-muted {
  color: #8fbc8f !important;
}

.card-subtitle a {
  color: #777777;
}

.course .card-subtitle a {
  border-bottom: none !important;
}

.card-subtitle a:hover {
  color: #8fbc8f;
  border-bottom: none;
  text-decoration: none;
}

.card-text a {
  color: #8fbc8f;
}

.card-text a:hover {
  color: #8fbc8f;
  font-weight: bold;
}

.experience .card-text {
  color: rgb(47, 47, 47) !important;
}

.dropdown-menu, .dropdown-item {
  background-color: white !important;
  color: #8fbc8f !important;
}

h3.article-title a {
  color: #333333;
}

h3.article-title a:hover{
  transition: color 0.0s ease;
}

.article-title a{
  transition: color 0.1s ease;
}

.navbar {
  background: #faf0e6;
}

.navbar-light {
  font-weight: normal;
  color: #333333 !important;
}

.navbar-brand {
  // font-weight: bold;
  color: #333333 !important;
  &:hover {
    color: #8fbc8f !important;
  }
}


.navbar-collapse {
  flex-basis: 120%;
  flex-grow: 0.5;
  align-items: center;
}

#navbar-main .main-menu-item ul li .nav-link:hover{
  // font-weight: bold;
  color: #8fbc8f;
  font-weight: bold !important;
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
  font-weight: normal !important;
  color: #8fbc8f !important;
  i {
    color: #8fbc8f !important;
  }
}

.navbar .navbar-nav .nav-link.active{
  color: #333333 !important;
}

.navbar .navbar-nav .nav-link.active:hover{
  color: #8fbc8f !important;
}


button.navbar-toggler i, .navbar-light .navbar-nav .nav-link, #navbar-main .main-menu-item ul li .nav-link {
  // バーの字の色
  color: #333333;
  font-weight: normal !important;
}

#navbar-main .main-menu-item {
  text-align: left !important;
  padding-left: 0;
}

.collapse:not(.show) {
  display: none;
}

h1 {
  font-weight: bold !important;
  color: #555555;
}

.btn:hover {
  color: #8fbc8f !important;
  font-weight: bold;
  background: #f5f5dc;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary.active:not(:disabled):not(.disabled), .show > .btn-outline-primary.dropdown-toggle {
  background: none;
  font-weight: bold;
}
